body
{
	display: grid;
	grid-template-areas: "header header header header"
	                     "main main main main"
	                     "footer footer footer footer";
	grid-template-columns: 20% 20% 20% 40%;
    margin: 0px 0px 0px 0px;
}
header
{
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-family: 'MedievalSharp';
	background-color: black;
	color: silver;
}
header h1
{
	display: flex;
	font-size: 1.5em;
}
header p:hover
{
	text-shadow: 0 0 4px white,
	 0 -5px 4px #FFFF33,
	  2px -10px 6px #FFDD33,
	   -2px -15px 11px #FF8800,
	    2px -25px 18px #FF2200;
}
nav
{
	display: flex;
	justify-content: space-between;
}
nav p
{
	margin-right: 3em;
	padding-right: 2em;
	color: silver;
}
main
{
	grid-area: main;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	height: 800px;
	padding-top: 2.3em;
	background-color: #9a9a9a;
	font-family: 'MedievalSharp';
}
main article
{
	max-width: 30%;
}
main p
{
	max-width: 30%;
}
fieldset
{
	background-color: silver;
}
form
{
	font-family: 'MedievalSharp';
	
}
footer
{
	grid-area: footer;
	display: flex;
	font-family: 'MedievalSharp';
	justify-content: space-around;
    align-items: baseline;
    background-color: black;
    color: silver;
}
section h3
{
	text-decoration: underline;
}
section p
{
	color: silver;
}
.champ
{
	width: 300px;
	border: 1px solid gray;
}
#commentaires
{
	width: auto;
	height: auto;
	min-height: 150px;
	max-height: 300px;
	min-width: 300px;
	max-width: 300px;
	border: 1px solid gray;
}
#envoi,#rafraichir
{
	margin:2px;
	box-shadow:  hsla(0, 0%, 26.66%, 0.8) 3px 3px;
	border-radius: 10%;
	font-size: 1em;
	color: gray;
}
#container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 10px;
	text-align: center;
}
#container2
{
	display: block;
	text-align: center;
	line-height: 10px;
	align-items: center;
}
.range
{
	display: flex;
}
@media only screen and (min-width:640px) and (max-width:1049px)
{
	  body
  {
  	min-width: 640px;
  	max-width: 1049px;
  }
  nav p
  {
	margin-right: 1em;
	padding-right: 1em;
  }
}
@media screen and (min-width:400px) and (max-width:639px) 
{
	  header
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 
 nav
 {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
 }
  main
 {
 	display: flex;
 	flex-direction: column;
 	height: 1000px;
 }
 footer
 {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;
 }
}
@media only screen and (max-width:399px)
{
header
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 nav
 {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
 }
 main
 {
 	display: flex;
 	flex-direction: column;
 	height: 1000px;
 }
 footer
 {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;
 }
}