body
{
	display: grid;
	grid-template-areas: "header header header header"
	                     "main main main main"
	                     "aside aside aside aside"
	                     "footer footer footer footer";
	grid-template-columns: 20% 20% 20% 40%;
	margin: 0px 0px 0px 0px;
	font-family: 'MedievalSharp';
    width: auto;
    max-width: 1920px;
    min-width: 200px;
}
header
{
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: black;
	color: silver;
}
header h1
{
	display: flex;
	font-size: 1.5em;
}
header p:hover
{
	text-shadow: 0 0 4px white,
	 0 -5px 4px #FFFF33,
	  2px -10px 6px #FFDD33,
	   -2px -15px 11px #FF8800,
	    2px -25px 18px #FF2200;
}
nav
{
	display: flex;
	justify-content: space-between;
}
main
{
	grid-area: main;
	height: 240px;
	background-color: gray;
	display: flex;
	flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
}
main h1
{
	text-decoration: underline;
}
aside
{
	grid-area: aside;
	height: 400px;
	background-color: gray;
	display: flex;
	justify-content: space-around;
	padding-top: 2.5em;
}
aside div
{
	background-color: silver;
	width: 300px;
	text-align: center;
	height: 350px;
	border: 6px solid black;
}

nav p
{
	margin-right: 3em;
	padding-right: 2em;
	color: silver;
}
footer
{
	grid-area: footer;
	display: flex;
	justify-content: space-around;
    align-items: baseline;
    background-color: black;
    color: silver;
}
section h3
{
	text-decoration: underline;
}
section p
{
	color: silver;
}

#container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 10px;
	text-align: center;
}
#container2
{
	display: block;
	text-align: center;
	line-height: 10px;
	align-items: center;
}
.range
{
	display: flex;
}
.epee,.bouclier,.armure
{
	border: 2px solid black;
	border-radius: 10px;
}
@media only screen and (min-width:640px) and (max-width:1049px)
{
  body
  {
  	min-width: 640px;
  	max-width: 1049px;
  	width: auto;
  }
  nav p
  {
	margin-right: 1em;
	padding-right: 1em;
  }
   main
 {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding:20px;
   height: 300px;
 }
 aside div
 {
   width: 250px;
 }
 .epee,.bouclier,.armure
{
	width: 90%;
}
  .swaggy
  {
 	max-width: 1049px;
 	min-width: 640px;
  }
}
@media screen and (min-width:400px) and (max-width:639px) 
{
  body
  {
  	max-width: 639px;
  	width: auto;
  }

 header
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 nav
 {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
 }
  main
 {
   display: flex;
   flex-direction: column;
   text-align: center;
   height: 400px;
 }
 aside
 {
 	display: flex;
 	flex-direction: column;
 	height: 1200px;
 	align-items: center;
 }
   footer
 {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;	
 }
 .swaggy
 {
 	max-width: 399px;
 	min-width: 200px;	
 }
}
@media only screen and (max-width:399px)
{
 body
 {
 	max-width: 399px;
 	width: auto;
 }
 header
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 nav
 {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
 }
 main
 {
   display: flex;
   flex-direction: column;
   text-align: center;
   height: 500px;
 }
 aside
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	height: 1200px;
 }
  footer
 {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;	
 }
 .swaggy
 {
 	max-width: 399px;
 	min-width: 200px;	
 }
}