body
{
	display: grid;
	grid-template-areas: "header header header header"
	                     "main main main main"
	                     "footer footer footer footer";
	grid-template-columns: 20% 20% 20% 40%;

	font-family: 'MedievalSharp';
	margin: 0px 0px 0px 0px;
	width: auto;
    max-width: 1920px;
    min-width: 200px;
}
header
{
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: black;
	color: silver;
}
header h1
{
	display: flex;
	font-size: 1.5em;
}
header p:hover
{
	text-shadow: 0 0 4px white,
	 0 -5px 4px #FFFF33,
	  2px -10px 6px #FFDD33,
	   -2px -15px 11px #FF8800,
	    2px -25px 18px #FF2200;
}
nav
{
	display: flex;
	justify-content: space-between;
}
nav p
{
	margin-right: 3em;
	padding-right: 2em;
	color: silver;
}
main
{
	grid-area: main;
	height: 800px;
	text-align: center;
	align-items: center;
	padding-top: 13em;
	display: flex;
	flex-direction: column;
	background-color: gray;
}
main div
{
	display: flex;
	flex-direction: column;
    background-color: silver;
    width: 40%;
    border: 4px solid black;
    border-radius: 15%;
}
main h1
{
	text-decoration: underline;
}
div h4
{
	text-decoration: underline;
}
footer
{
	grid-area: footer;
	display: flex;
	font-family: 'MedievalSharp';
	justify-content: space-around;
    align-items: baseline;
    background-color: black;
    color: silver;
}
section h3
{
	text-decoration: underline;
}
section p
{
	color: silver;
}
#container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 10px;
	text-align: center;
}
#container2
{
	display: block;
	text-align: center;
	line-height: 10px;
	align-items: center;
}
.range
{
	display: flex;
}
@media only screen and (min-width:640px) and (max-width:1049px)
{
  body
  {
  	min-width: 640px;
  	max-width: 1049px;
  	width: auto;
  }
   nav p
  {
	margin-right: 1em;
	padding-right: 1em;
  }
  main div
  {
  	width: 80%;
  }
 }
  @media screen and (min-width:400px) and (max-width:639px) 
{
  body
  {
  	max-width: 639px;
  	width: auto;
  }
  header
  {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
  }
  nav
  {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
  }
  main div
  {
 	width: 80%;
  }
  footer
  {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;	
  }
 .swaggy
 {
 	max-width: 399px;
 	min-width: 200px;	
 }
}
@media only screen and (max-width:399px)
{
 body
 {
 	max-width: 399px;
 	width: auto;
 }
 header
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 nav
 {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
 }
 main div
 {
 	width: 85%;
 }
 footer
 {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;	
 }
 .swaggy
 {
 	max-width: 399px;
 	min-width: 200px;	
 }
}