body
{
	display: grid;
	grid-template-areas: "header header header header"
	                     "main main main main"
	                     "footer footer footer footer";
	grid-template-columns: 20% 20% 20% 40%;
	
    margin: 0px 0px 0px 0px;
    font-family: 'MedievalSharp';
}
header
{
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: black;
	color: silver;
}
header h1
{
	display: flex;
	font-size: 1.5em;
}
header p:hover
{
	text-shadow: 0 0 4px white,
	 0 -5px 4px #FFFF33,
	  2px -10px 6px #FFDD33,
	   -2px -15px 11px #FF8800,
	    2px -25px 18px #FF2200;
}
nav
{
	display: flex;
	justify-content: space-between;
}
nav p
{
	margin-right: 3em;
	padding-right: 2em;
	color: silver;
}
main
{
	grid-area: main;
	height: 2000px;
	background-color: gray;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
main h1
{
	text-align: center;
	text-decoration: underline;
}
.yolo
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}
.claymore,.viking,.jap,.bourguignon,.hallebarde,.chasse,.guan_dao,.templier,.etoile
{
	width: 300px;
	background-color: silver;
    border: 5px solid black;
}
.one
{
    border: 2px solid black;
    border-radius: 5%;
}
#button
{
	margin:2px;
	box-shadow:  hsla(0, 0%, 26.66%, 0.8) 3px 3px;
	background-color: #8ea9bb;
	border-radius: 10%;
}
footer
{
	grid-area: footer;
	display: flex;
	justify-content: space-around;
    align-items: baseline;
    background-color: black;
    color: silver;
}
section h3
{
	text-decoration: underline;
}
section p
{
	color: silver;
}
#container
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	line-height: 10px;
	text-align: center;
}
#container2
{
	display: block;
	text-align: center;
	line-height: 10px;
	align-items: center;
}
.range
{
	display: flex;
}
@media only screen and (min-width:640px) and (max-width:1049px)
{
	  body
  {
  	min-width: 640px;
  	max-width: 1049px;
  }
  nav p
  {
	margin-right: 1em;
	padding-right: 1em;
  }
}
@media screen and (min-width:400px) and (max-width:639px) 
{
	
	header
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 nav
 {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
 }
 main
 {
 	height: 5000px;
 	max-width: 639px;
 }
.yolo
 {
 	display: flex;
 	flex-direction: column;
 	max-width: 639px;
 }
 .claymore,.viking,.jap,.bourguignon,.hallebarde,.chasse,.guan_dao,.templier,.etoile
 {
 	height: 450px;
 	max-width: 639px;
 	width: auto;
 }
 footer
 {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;
 }
}
@media only screen and (max-width:399px)
{
	body
	{
		max-width: 399px;
		min-width: 250px;
	}
header
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 nav
 {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
 }
 main
 {
 	height: 5000px;
 }
.yolo
 {
 	display: flex;
 	flex-direction: column;
 }
 .claymore,.viking,.jap,.bourguignon,.hallebarde,.chasse,.guan_dao,.templier,.etoile
 {
 	height: 450px;
 	max-width: 399px;
 	width: auto;
 }
 footer
 {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;
 }
}