body
{
	display: grid;
	grid-template-areas: "header header header header"
	                     "main main main main"
	                     "footer footer footer footer";
	grid-template-columns: 20% 20% 20% 40%;
	margin: 0px 0px 0px 0px;
	background-color:  #9a9a9a;
	max-width: 100%;
    width: auto;
}
header
{
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: black;
	color: silver;
}
header h1
{
	display: flex;
	font-size: 1.5em;
  font-family: 'MedievalSharp';
}
header p:hover
{
	text-shadow: 0 0 4px white,
	 0 -5px 4px #FFFF33,
	  2px -10px 6px #FFDD33,
	   -2px -15px 11px #FF8800,
	    2px -25px 18px #FF2200;
}
nav
{
	display: flex;
	justify-content: space-between;
  font-family: 'MedievalSharp';
}
nav p
{
	margin-right: 3em;
	padding-right: 2em;
	color: silver;
}
main
{
	grid-area: main;
	height: 700px;
	font-family: 'MedievalSharp';
}
form
{
	width: auto;
	max-width: 100%;
}
footer
{
	grid-area: footer;
	display: flex;
	font-family: 'MedievalSharp';
	justify-content: space-around;
    align-items: baseline;
    background-color: black;
    color: silver;
}
section h3
{
	text-decoration: underline;
}
section p
{
	color: silver;
}
/* Add padding to containers */
.bloc
{
  padding: 16px;
  background-color: #242424;
  text-align: center;
  margin-top: 3.5em;
  margin-left: 3em;
  margin-right: 3em;
  color: silver;
  border: 3px solid #8b4513;
}
/* Full-width input fields */
input[type=text], input[type=password]
{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus
{
  background-color: #ddd;
  outline: none;
}
/* Overwrite default styles of hr */
hr 
{
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit button */
.registerbtn
{
  background-color: black;
  color: gold;
  font-family: 'MedievalSharp';
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover
{
  opacity: 1;
}

/* Add a blue text color to links */
a
{
  color: dodgerblue;
}
#container
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 10px;
	text-align: center;
}
#container2
{
	display: block;
	text-align: center;
	line-height: 10px;
	align-items: center;
}
.range
{
	display: flex;
}
@media only screen and (min-width:640px) and (max-width:1049px)
{
   body
  {
  	min-width: 640px;
  	max-width: 100%;
  	width: auto;
  }
  nav p
  {
	margin-right: 1em;
	padding-right: 1em;
  }
  .bloc
  {	
  	margin-right: 5em;
  }
}
@media screen and (min-width:410px) and (max-width:639px)
{
  body
  {
  	max-width: 639px;
  	min-width: 410px;
  	width: auto;
  }
  header
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }
 nav
 {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
 }
  main
 {
 	display: flex;
 	flex-direction: column;
 	
 }
 footer
 {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;
 }
 .bloc
  {
  	margin-right: 4em;
  }
}
@media only screen and (max-width:409px)
{
  body
  {
  	max-width: 409px;
  	min-width: 400px;
  	width: auto;
  }
  header
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	
 }
 nav
 {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	margin-left: 4em;
 }
 main
 {
 	display: flex;
 	flex-direction: column;
 	height: 1000px;
 }
 footer
 {
 	display: flex;
 	flex-direction: column;
 	justify-content: space-around;
 	align-items: center;
 	height: 800px;
 }
 .bloc
  {
  	margin-left: 1px;
  	margin-right: 5em;
  }
}