.conteneur
{
   width: 650px;
   height: 300px;
   overflow: hidden;
   border: 3px solid #F2F2F2;
   display: inline-block;
}
.carousel-item
{
   width: 100%;
   height: 300px;
   padding:0; margin:0;
}